.warp .el-menu.el-menu--horizontal {
  border-bottom: none;
}

.warp .el-menu-item {
  padding: 0;
}

.warp .el-menu--horizontal > .el-menu-item a {
  display: inline-block;
  text-decoration: none;
}

.warp .el-menu-item, .el-submenu__title {
  height: initial;
  line-height: initial;
}

.el-menu--horizontal > .el-menu-item a.router-link-exact-active {
  color: #000;
}
